body {
  background: #4f2016
}
p    {
  color: white; 
  font-size: 20px; 
  float: right; 
  text-align: left; 
  font: times new roman
}

{
  columns: 100px 1;
  float: left: 
  color: black;
  text-align: center; 
}
