body {
  background: #4f2016
}
p    {
  color: white; 
  font-size: 20px; 
  float: right; 
  text-align: left; 
  font: times new roman;
  padding: 20px; 
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 20px; 

