body {
  background: #4f2016
}

[flow], [sticky]{
  flex: 1
}

[sticky]{
  background: salmon;
  position: sticky;
  top: 0;
  height: 100vh;
  margin-left: 50%;
}

[flow]{
  height: 300vh;
  width: 50%;
  background: slateblue;
}

p{
  height: 50vh
}

