html, body {
     min-height: 100%;
}

body {
  padding: 10px;
font-family: Arial, Helvetica, sans-serif;
 background: #4f2016


h2 {
letter-spacing: 5px;
text-align: center;
text-color:Black;
font-family: "Georgia", serif;
font-size: 30px;
Float: center; 
}

h5 {
 font-size: 20px;
  font-family: "Playfair Display", serif;
  Float: center; 



