body {
  background: #4f2016
}


.wrap {
  display: flex;
}

.left {
  background: red;
  flex-basis: 40%;
}

.right {
  background: green;
  flex-basis: 60%;
  
  height: 100vh; 
  overflow: auto;
}
