
.wrap {
  display: flex;
}

.left {
  background: #4f2016;
  flex-basis: 40%;
}

.right {
  background:#4f2016;
  flex-basis: 60%;
  
  height: 100vh; 
  overflow: auto;
}

body { 
background-color: #4f2016
}

h1 { 
  font-size: 35px;

} 

h2 { 
  font-color: white;

} 

h5 { 
  font-color: white; 

} 
