
.wrap {
  display: flex;
}

.left {
  background: #4f2016;
  flex-basis: 40%;
}

.right {
  background:#4f2016;
  flex-basis: 60%;
  
  height: 100vh; 
  overflow: auto;
}

body { 
background-color: #4f2016
}


h2 {
letter-spacing: 5px;
text-align: center;
text-color: white;
font-family: "Georgia", serif;
font-size: 30px;

}

h5 {
 font-size: 25px;
  font-family: "Playfair Display", serif;
  Float: center; 
  font-color: white; 
  
}
